# Deep Learning & Vision
torch
torchvision
torchaudio
opencv-python
albumentations
Pillow
insightface
onnxruntime-gpu 


# Model architectures & utilities
timm
torchmetrics

# API & Deployment
fastapi
uvicorn
pydantic
pydantic-settings
python-multipart

# Frontend (Python)
#python-cors

# Data handling
numpy
pandas
scikit-learn

# Evaluation metrics
scikit-image
lpips

# MLOps & Experiment Tracking
mlflow
optuna

# Testing
pytest
pytest-cov
pytest-asyncio

# Development & debugging
jupyter
jupyterlab
ipython
matplotlib
seaborn

# Utilities
python-dotenv
tqdm
requests

# Documentation
sphinx

